/* nav styling */
nav {
    margin-top: 30px;
    text-align: center;
}
nav ul {
    padding: 0px;
}
nav li {
    background-color: #d6d6d6;
    padding: 10px;
    width: 100px;
    border: 1px solid black;
    border-radius: 15px;
    display: inline-block;
    text-align: center;
}
a {
    font-family: "Fira Sans", sans-serif;
    color: black;
    text-decoration: none;
}
a.skip {
    position: absolute;
    left: -500px;
}
a.skip:focus{
    position: absolute;
    left: 0px;
    top: 0px;
}
.active {
    background: #5f8d60;
    font-weight: bold;
    border: 3px solid black;
    text-decoration: underline;
}
a:visited{color: black;}

/* body text and galleries */
body{
    background-color: #e9e5e5;
    font-family: "Fira Sans", sans-serif;
    margin: 15px 25px 0px 25px;
    text-align: center;
}
h1 {
    font-size: 5vw;
    text-align: center;
    padding: 5px 10px;
    border: 2px solid black;
    color: black
}
h2 {
    font-size: 4vw;
    font-weight: bold;
}
p {
    font-size: 3vh;
}
img {
    height: 300px;
    width: auto;
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px 5px 10px 5px;
}
.top {
    display: block;
    margin: 0px auto 0px auto;
    height: 400px;
}
.gallery {
    background-color: #f5f5dc;
    margin-top: 20px;
    text-align: center;
}
.gallery img{
    display: inline-block;
    height: 250px;
    width: auto;
    margin: 3px auto 3px auto;
}
.gallery img:nth-child(2n):hover {
    padding: 5px;
    border: 3px solid #92c12e;
}
footer {
    background: #5f8d60;
    margin: 5px;
    border: 1px solid black;
}
footer p {
    text-align: center;
    font-size: 16px;
    padding: 0px;
}
.header {
    background-image: url("../images/mountains.jpg");
    background-color: #e9e5e5;
    background-attachment: initial;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    min-height: 400px;
}
.header h1 {
    border: none;
    color: #3e3465;
    padding: 50px 0;
}
.video {
    display: flex;
    justify-content: center;
}

/* form styling */
legend {
    font-size: 2em;
    font-weight: bold;
}
input {
    /* width: 100%; */
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #3e3465;
  box-sizing: border-box;
}
input[type=radio] {
    width: 5%;
}
input[type=text] {
    width: 100%;
}
input[type=submit] {
    background-color: #3e3465;
  color: white;
  padding: 14px 20px;
  margin: 0px;
  border: none;
  width: 100%;
  font-size: 2em;
}
form {
    width: auto;
    margin: 0 auto;
}

/* grid for climate page */
.grid-gallery {
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 5px;
    row-gap: 5px;
    justify-items: center;
}
.grid-gallery img {
    margin: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* flex for produce gallery page */
.flex-gallery {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
.flex-gallery img {
    margin: 5px 0px 5px 0px;
    width: 80%;
    height: auto;
}
/* parallax */
.parallax {
    background-image: url("../images/mat-colony.jpg");
    background-color: #707070;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
}
/* animations */
@keyframes fade {
    0% {opacity:0;}
    25% {opacity:.5;}
    50% {opacity:.75;}
    100% {opacity:1;}
}
@keyframes grow {
    from {font-size: 5px;}
    to {font-size: 35px;}
    0% {opacity:0;}
    25% {opacity:.5;}
    50% {opacity:.75;}
    100% {opacity:1;}
}
#animate {
    animation: fade 6s 1;
}
#grow {
    animation: grow 6s 1;
}
/* flip card animation */
.flipcard {
    background-color: transparent;
    width: 200px;
    height: 300px;
}
.flipcard img {
    margin: 0px;
}
.flipcard-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.flipcard:hover .flipcard-inner {
    transform: rotateY(180deg);
}
.flipcard:focus .flipcard-inner {
    transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.flip-card-front {
    background-color: #5f8d60;
    color: black;
    border-radius: 10px;
}
.flip-card-back {
    background-color: #92c12e;
    color: black;
    border-radius: 10px;
    transform: rotateY(180deg);
}
/* media queries */
@media screen and (prefers-reduced-motion: reduce) {
    #animate, #grow {
        animation: none;
    }
    .parallax {
        background-attachment: initial;
    }
    .flipcard {
        transition: 0;
    }
}
/* tablet */
@media screen and (min-width: 415px) {
    .grid-gallery {
        grid-template-columns: 1fr 1fr;
    }
    .flex-gallery {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .flex-gallery img {
        height: 30vh;
        width: 200px;
    }
}
/* desktop */
@media screen and (min-width: 1020px) { 
    body {
        text-align: left;
    }
    h1 {
        font-size: 34px;
    }
    h2 {
        font-size: 24px;
    }
    .grid-gallery {
        grid-template-columns: 1fr 400px 1fr;
    }
    .flex-gallery img {
        height: 40vh;
        width: auto;
        justify-content: space-around;
    }
}

/* phone */
@media screen and (max-width: 414px) {
    .flipcard {
        display: none;
    }
}